body {
      font-family: Arial, sans-serif;
      background: #005f77;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 800px;
      background: white;
      margin: 30px auto;
      padding: 20px 40px;
      border-radius: 10px;
      box-shadow: -3px -5px 50px rgb(66, 66, 66);
    }
    h1 {
      text-align: center;
      color: #333;
      margin-bottom: 20px;
    }
    .question {
      margin-bottom: 20px;
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }
    .question h3 {
      margin-bottom: 10px;
      color: #444;
    }
    label {
      display: block;
      margin-bottom: 5px;
    }
    button {
      display: block;
      margin: 20px auto;
      background: #007bff;
      color: white;
      border: none;
      padding: 10px 25px;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover {
      background: #0056b3;
    }
    #result {
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
      font-weight: bold;
    }
    .retry {
      background: #28a745;
    }
    .showErrors {
      background: #5c3700;
    }
    .wrong {
      background-color: #ffe0e0;
      border-left: 5px solid #ff4444;
    }